.navbar{
     background-color: #D32F2F;
}
.nav-link{
    color: white !important;
    font-weight: bold !important;
    
}
.navbar-brand{
    margin-left: 30px;
}
.fa-shopping-cart,.fa-user-circle-o{
     font-size: 32px;
}
.fa-truck,.fa-headphones,.fa-thumbs-up{
    font-size: 40px;
    color: #D32F2F;
    margin-right: 20px;
}
.card1,.card2,.card3{
    display: flex;
    box-shadow: 2px 4px 4px grey;
    flex-direction: row;
    width: 30%;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: #D32F2F;
}
.maincard{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-around;
}
.newarrival{
    margin-top: 50px;
}
.card{
    width: 200px;
    height: 400px;
   
}
.btn{
    background-color:#D32F2F ;
    color: white;
    font-weight: bold;
}
.heading{
    text-align: center;
    font-weight: bold;
    color: #D32F2F ;
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px grey;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: #D32F2F ;
}
h6{
    text-align: center;
    color: white;
    justify-content: center;
    padding-top: 15px;
}

